.playw> {
    font-family: "Playwrite MX", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.heebo {
    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.yantramanav {
    font-family: "Yantramanav", sans-serif;
    font-weight: 700;
    font-style: normal;
}

:root {
    --color-dark: #000000;
    --color-light: #FFFFFF;
    --dark-gray: #404040;
    --color-light-gray: #C4C4C4;
    --border-radius: 30px;

    --border: 1px solid var(--color-light);
    --container-width: 1300px;

    --container-pziding-x: 15px;
    --transition-duration: 0.2s;

}

body {
    background-color: #000000;
}

.constainer {
    max-width: calc(var(--container-width) + var(--container-pziding-x) * 2);
    margin-inline-end: auto;
    padding-inline: var(--container-pziding-x);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700px;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

header {
    padding-inline: 30px;
}

.logo-head {
    width: 130px;
    height: 35px;
    position: relative;
    top: 70px;
}

.ul-head {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light);
    gap: 62px;
    margin-top: 35px;
}

.li-bag:hover {
    color: var(--color-light-gray);
}

.butt-head {
    background-color: var(--color-light);
    border-radius: 25px;
    border: none;
    padding-inline: 26px;
    height: 30px;
    width: 120px;

}

.butt-header {
    display: flex;
    justify-content: end;
    margin-top: -35px;
}

@media (max-width:870px) {
    .ul-head {
        position: relative;
        top: 60px;
    }
}
@media (max-width: 650px) {
  header{
    padding-inline:15px ;
  }
}
@media (max-width:580px) {
    .ul-head{
        column-gap: 40px;
    }
}
@media (max-width:450px) {
    .ul-head{
        column-gap: 20px;
    }
}